@model List<OrderDetailViewModel>
@{
    ViewData["Title"] = "Tarihe Göre Satış Gösterme";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Sipariş Detayları</h2>

<form asp-action="GetOrderDetailByDate" method="post" class="form-inline">
    <div class="form-group">
        <label for="startTime">Başlangıç Tarihi: </label>
        <input type="date" class="form-control" id="startDate" name="startDate" required />
    </div>
    <div class="form-group">
        <label for="endTime" style="margin-left: 10px;">Bitiş Tarihi: </label>
        <input type="date" class="form-control" id="endDate" name="endDate" required />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Filtrele</button>
    <a asp-action="Index" asp-controller="Report" asp-area="Administrator" class="btn btn-success position-relative">
        Geri
    </a>
   
</form>

@if (Model != null && Model.Any())
{
    <table class="table table-striped" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Miktar</th>
                <th>Tarih / Saat</th>
                <th>Birim Fiyat</th>
                <th>Toplam Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.CreatedTime</td>
                    <td>@String.Format("{0:C}", item.UnitPrice)</td>
                    <td>@String.Format("{0:C}", item.Quantity * item.UnitPrice)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
        Bu tarih aralığında sipariş bulunamadı.
    </div>
}

